@charset "utf-8";
body {
	font-family: sans-serif; 
	line-height: 1.6;
	margin: 0; 
	color: #333; 
}
header {
	background: #f4f4f4;
	padding: 20px;
	text-align: center;
	border-bottom: 3px solid #007bff;
}
nav {
	background: #333; 
	color: #fff; 
	padding: 10px;
	text-align: center;
}
nav a
{ color: white;
	margin: 0 15px;
	text-decoration: none;
	font-weight: bold; 
}
nav a:hover {
    color: #037CA8;
}
.container {
	max-width: 900px;
	margin: 20px auto;
	padding: 0 20px; 
}
.hero-image { 
	width: 100%; 
	height: 400px; 
	object-fit: cover;
	border-radius: 8px; 
	margin-bottom: 20px; 
}
h1
 {color: #BF1E2D;
}
h2{
    color: #01AAE9;
}
footer {
	text-align: center;
	padding: 20px; 
	font-size: 0.8em; 
	color: #777; 
}/* CSS Document */

